<footer class="border-top">
<div class="links">
  <a href="/instagram" ><i class="fa-brands fa-square-instagram"></i> </a>
  <a href="/facebook"><i class="fa-brands fa-facebook"></i> </a>
  <a href="/twitter"><i class="fa-brands fa-twitter"></i> </a>
</div>
<div class="company">
<P><i class="fa-solid fa-copyright"></i> Wanderlust Private Limited </P>
<P>Privacy terms</P>
</div>
</footer>